<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}-后台管理-编辑商品分类</title>
    <link rel="icon" href="{{imagePath}}/favicon.ico" mce_href="{{imagePath}}/favicon.ico" type="image/x-icon">
    {{ render "partials/adminCSS.hbs" }}
  </head>
  <body>
    <div id="app"></div>
    <p>{{data.category.ID}}---</p>
    <p>{{data.category.name}}---</p>
    {{ render "partials/adminJS.hbs" }}
    <script type="text/javascript" src="{{jsPath}}/admin/category/createCategory.js"></script>
  </body>
</html>